body {
  margin: 0;
  background-color: rgb(252, 252, 242);
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: antiquewhite;
  font-family: "Lobster", cursive;
}

span {
  font-size: 70px;
  color: rgb(185 159 126);
  text-shadow: 2px 2px 2px rgb(175, 173, 173);
}

button {
  margin: 20px;
  background-color: cornsilk;
  border: 1px solid rgb(155, 136, 111);
  border-radius: 10px;
  width: 120px;
  height: 80px;
  font-size: 20px;
  color: rgb(75, 72, 69);
  font-weight: bold;
  box-shadow: 3px 3px 3px 3px rgb(90, 89, 89);
}

button:hover {
  background-color: rgb(185, 159, 126);
}
