button {
  background-color: cornsilk;
}

body {
  margin: 0;
  background-color: rgb(252, 252, 242);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

section {
  margin: 0;
}

.navbar {
  background-color: #6d4c41;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_logo {
  font-family: "Lobster", cursive;
  font-size: 28px;
  color: rgb(230, 219, 179);
  margin-left: 8px;
}

.navbar_menu {
  display: flex;
  flex-direction: row;
  padding-left: 0;
}

.navbar_menu li {
  padding: 8px 12px;
  margin-left: 5vh;
  color: rgb(230, 219, 179);
}

.navbar_menu li:hover {
  background-color: #946d60;
  border-radius: 4px;
}

.navbar_menu li a,
#menuManage {
  color: rgb(230, 219, 179);
}

#menuManage_sub,
#notice_sub {
  text-align: center;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #946d60;
  position: absolute;
  display: none;
  margin-left: -12px;
  margin-top: 5px;
}

#menuManage_sub li,
#notice_sub li {
  margin-left: 0;
  padding: 8px 8px;
  margin-left: 10px;
}

#menuManage:hover #menuManage_sub,
#notice:hover #notice_sub {
  display: flex;
}

#menuManage_sub li:hover,
#notice_sub li:hover {
  background-color: #ad8274;
}

.navbar_menu li a,
#secondBro {
  color: rgb(230, 219, 179);
}

#secondMenu {
  text-align: center;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #946d60;
  position: absolute;
  display: none;
  margin-left: -12px;
  margin-top: 5px;
}

#secondMenu li {
  margin-left: 0;
  padding: 8px 8px;
  margin-left: 10px;
}

#secondBro:hover #secondMenu {
  display: flex;
}

#secondMenu li:hover {
  background-color: #ad8274;
}

.navbar_blog {
  margin-right: 8px;
}

.navbar_blog i {
  color: rgb(230, 219, 179);
  font-size: 21px;
}

#textCenter {
  width: 100%;
  text-align: center;
  margin-top: 10vh;
}

#menuTitle {
  font-size: 24px;
}

#addForm {
  width: 100%;
  text-align: center;
  margin-top: 200px;
}

#addForm select {
  width: auto;
  height: 30px;
  font-size: 15px;
  border-radius: 4px;
}

.formInput {
  font-size: 15px;
  height: 25px;
  border-radius: 4px;
  border: 1px solid;
}

#submitBtn {
  background-color: #946d60;
  color: antiquewhite;
  font-weight: bold;
  font-size: large;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  align-items: center;
}
